* {
    font-family: Verdana, sans-serif;
}

/* header */
.header {
    /* border: 1px solid rgb(255, 0, 0); */
    justify-content: center;
    display: flex;
    margin: 20px;
}
#header-body {
    margin-left: 20px;
}
#name {
    font-weight: bold;
    font-size: 40px;
}
#welcome {
    margin-top: 5px;
    font-size: 17px;
}
#me-img {
    width: 130px;
    height: 130px;
}


/* intro */
.intro {
    justify-content: center;
    display: flex;
    /* border: 1px solid black; */
    margin: 20px 400px 20px 400px;
}


/* vertical line */
.vl {
    border-left: 1px solid gray;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-top: 20px;
}

/* column */
.row {
    display: flex;
}
.column {
    flex: 50%;
    margin-top: 35px;
}
#left {
    /* border: 1px solid red; */
    text-align: right;
    margin-left: 100px;
    margin-right: 100px;
}
.logo {
    float: left;
    margin-left: 50px;
}
#sony-logo {
    width: 130px;
}
#cm-logo {
    width: 130px;
}

.company {
    font-size:25px;
    margin-bottom: 10px;
}
.position {
    margin-bottom: 10px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
#right {
    /* border: 1px solid red; */
    margin-right: 100px;
    text-align: left;
}

